@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: light dark;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
#root {
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  height: fit-content;
  position: relative;
}
html{
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
